html{
	font-size:16px;
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	font-family: sans-serif;
	background-image: url('../images/8.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.container{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:400px;
	padding: 40px;
	background:rgba(0,0,0,.8);
	box-shadow: 0 15px 25px rgba(0,0,.5);
	border-radius: 10px;
}
.container h2{
	margin:0 0 30px;
	padding: 0;
	text-align: center;
	color:#fff;
}
.container .inputbox{
	position: relative;
}
.container .inputbox input{
	width: 100%;
	padding: 10px 0;
	font-size:1.2em;
	color:gold;
	margin-bottom: 30px;
	border:none;
	outline:none;
}
label{
	color: #fff;
}
.placeicon{
	font-family:fontawesome;
}